* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
:root {
  --bg-light: #f5f5f5;
  --cl-text: whitesmoke;
  --bg-dark: #0b0a0a;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 62.5%;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(cl-text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html{
  font-size: 10px;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
#root{
  min-width: 100%;
  background-color: var(--bg-light);
}
a {
  text-decoration: none;
  color: var(--cl-text)
}
a:visited{
  color: var(--cl-text)
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
  text-align: center;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
